<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Namespace를 통해 JAVA 클래스와 Annotation클래스와 동기 -->
<mapper namespace="kr.codesquad.airbnb09.service.ListingMapper">

    <!-- Sql id 설정 및 parameterType, resultType을 설정. -->
    <select id="selectAllListing" parameterType = "Integer" resultType="AccommodationVO">
        SELECT id
             , title
             , price
             , discount_price
             , cleaning_fee
             , service_fee
             , country
             , rating
             , is_superhost
             , accommodates
             , latitude
             , longitude
          FROM airbnb.listing
         LIMIT #{limit} OFFSET #{offset};
    </select>

    <select id="filterListingByDate" resultType="AccommodationVO">
        SELECT id
             , title
             , price
             , discount_price
             , cleaning_fee
             , service_fee
             , country
             , rating
             , is_superhost
             , accommodates
             , latitude
             , longitude
          FROM listing
         WHERE id NOT IN (SELECT listing_id
                            FROM booking
                           WHERE #{date_checkout} > checkin
                             AND listing_id IN (SELECT listing_id
                                                  FROM booking
                                                 WHERE checkout > #{date_checkin}))
           AND accommodates >=   #{total_personnel}
           AND discount_price >= #{min_price}
           AND                   #{max_price} >= discount_price
         LIMIT #{limit} OFFSET #{offset};
    </select>

    <select id="filterListingByAccommodates" parameterType="Integer" resultType="AccommodationVO">
        SELECT * FROM listing WHERE accommodates >= #{total_personnel} LIMIT #{limit} OFFSET #{offset};
    </select>

    <select id="selectImageUrlsByListingId" parameterType="Long" resultType="String">
        SELECT url FROM airbnb.image WHERE listing_id = #{listing_id};
    </select>
</mapper>
